body {
   margin: 0;
   background-color: hsl(240, 10%, 15%);
   display: grid;
   place-items: center;
   height: 100vh;
   color: white;
   font-family: sans-serif;
}

div#app {
   width: 100vw;
   height: 100%;
   display: grid;
   align-items: center;
   justify-content: center;
}

div.jc-view {
   user-select: none;
   width: 50vw;
   height: 50vh;
   min-height: 300px;
   border: 1px solid white;
}


div.jc-view-debug {
   align-self: start;
   justify-self: end;
}
